
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(167, 184, 230, 0.664);
    line-height: 1.5;
    margin-top: 0px;
    margin: 20;
    padding: 50;
}

header {
    background-color: rgb(87, 101, 230);
    margin: 0;
    margin-top: 0px;
}

h1 {
    background-color: hsl(198, 34%, 25%);
    margin-bottom: 30px;
    color: rgb(243, 240, 204);
    padding: 30;
    margin-top: 0px;
    text-align: center;
}

h2 {
    color: rgb(8, 3, 82);
    text-align: center;
}


main {
    padding: 20;
    margin-bottom: 60px;
}

section {
    background-color: rgb(166, 192, 186);
    border-radius: 20px;
    padding: 20px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 4px 0px 1px rgba(51, 4, 4, 0.384);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
}

ul {
    list-style-type: none;
    text-align: left;
    padding: auto;


}

p, li {
    font-size: 1.0rem;
}

footer {
    background-color: hsl(206, 24%, 26%);
    color:rgb(190, 166, 152);
    text-align: center;
    padding: 10px;
    position: fixed;
    margin-top: 20px;
    padding-top: 5px;
    bottom: 0;
    width: 100%;

}

.link {
    color: rgb(231, 225, 221);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1;
    min-width: 250px;
    background-color: rgb(218, 230, 230);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgb(123, 95, 168); 
    margin: 5px;
    text-align: center;
}

.diferente {
    background-color: rgba(250, 235, 215, 0.171);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 4px 0px 1px rgba(51, 4, 4, 0.116);

}
.btn {
    color: rgb(255, 255, 255);
    border: none;
    background: linear-gradient(100deg, #e4402a 0%, #e6a49f 100%);
    transition: background 0.3s;
    padding: 12px 35px;
    font-size: 1rem;
    margin-top: 18px;
    margin-left: 500px;
    margin-right: 500px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(51, 4, 4, 0.384);
    border-radius: 15px;
    

}

.btn:hover{
    background: linear-gradient(100deg, #e6a49f 0%, #e4402a 100%);

}