
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(167, 184, 230, 0.664);
    color: rgb(12, 3, 48);
    line-height: 1.5;
    margin-top: 0px;
    margin: 20;
    padding: 50;
}

header {
    background-color: rgb(15, 68, 70);
    color: bisque;
    margin: 0;
    margin-top: 0px;
    padding: 10px;
    padding-top: 30px;
    text-align: center;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.596);

   

    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    width: auto;

    /* no hacer sticky el header 
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: auto;*/

}

.layout-grid {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 0;
    padding: 0;
    height: 100%;
}

.sidebar {
    background-color: rgb(15, 68, 70);
    padding: 20px;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 280;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.192);
    padding-left: 0px;
    margin-bottom: 0px;

}
.sidebar h2 {
    color: bisque;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    list-style-type: none;
    text-align: left;
    padding: auto;
    padding-bottom: 20px;
    color: rgba(255, 228, 196, 0.418);
    font-size: 1.2rem; 
    text-decoration: none;
    
}
.sidebar ul li a:hover {
    transition: 0.5s;
    color: bisque;
}

h1 {
margin: 0;
}

h2 {
    color: rgb(38, 44, 99);
    text-align: center;
}


main {
    padding: 20;
    margin-bottom: 60px;
}

/*
section {
    background-color: rgb(166, 192, 186);
    border-radius: 20px;
    padding: 20px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 4px 0px 1px rgba(51, 4, 4, 0.384);
}*/

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
}

ul {
    list-style-type: none;
    text-align: left;
    padding: auto;


}

p, li {
    font-size: 1.0rem;
}

.Portafolio {
    display: grid;
    grid-auto-rows: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
    margin-top: 20px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "item1 item1 item1"
        "item2 item3 item4"
        "item5 item5 item5";
    
}

.item1 {grid-area: item1;}
.item2 {grid-area: item2;}
.item3 {grid-area: item3;}
.item4 {grid-area: item4;}
.item5 {grid-area: item5;}

.item1, .item2, .item3, .item4 {
    background-color: bisque;
    color: rgb(3, 39, 27);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.171);
    padding: 20px;
    margin: 5px;
    margin-bottom: 50px;
    
}

.item5 {
    background-color: bisque;
    color: rgb(3, 39, 27);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.171);
    padding: 20px;
    margin: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 5px;
}

.item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover  {
    background-color: rgb(228, 221, 129);
    transition: 0.3s;
    cursor: w-resize;
    
}



footer {
    background-color: hsl(206, 24%, 26%);
    color:rgb(190, 166, 152);
    padding: 10px;
    position: fixed;
    margin-top: 0px;
    padding-top: 5px;
    bottom: 0;
    width: 100%;
    text-align: right;
    height: 75px;
    

}

.contact {
    margin-left: 0px;
    margin-right: 100px;
    text-decoration:none;
    color:rgba(190, 166, 152, 0.596) ;
    margin-bottom: 100px;
    padding-bottom: 100px;
    
}

.contact:hover {
    color: bisque;
    transition: 0.5s;
}

h3 {
    padding-right: 20px;
    margin-right: 20px;
}

.link {
    color: rgb(231, 225, 221);
}


@media (max-width:768px) {
    .layout-grid{
        grid-template-areas: 
        "header" 
        "sidebar"
        "content_1"
        "content_2"
        "content_3"
        "footer"
        ;
    }
}


.diferente {
    background-color: rgba(250, 235, 215, 0.171);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 4px 0px 1px rgba(51, 4, 4, 0.116);

}
.btn {
    color: #f7e3b9;
  padding: 15px 25px;
  background-color: #4d7470;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(104, 105, 156, 0.425) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(112, 192, 230, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family:Arial, 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 16px;
  margin-top: 18px;
    margin-left: 30px;
    margin-right: 500px;
    width: 200px;

}

.btn:hover{
    background: linear-gradient(100deg, #294137 0%, #2d3d46 50%,  #0f4761 100%);
    color: antiquewhite;
    transition: 0.3s;
    box-shadow: 0px 4px 8px rgb(0, 0, 0);

}


