body {
    background-color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(27, 42, 110);
    padding: 20px;
    text-align: center;
}

.container {
    width: 40%;
    margin: 20px auto;
}

#number1, #number2 {
    padding: 20px;
    width: 50%;
    margin-bottom: 20px;
}

#addButton {
    padding: 10px 15px;
    background-color: rgba(108, 108, 151, 0.678);
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(71, 72, 100, 0.425) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(61, 90, 168, 0.55) 0%, rgba(88, 177, 230, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    color: wheat;
    cursor: pointer;
    border-radius: 8px;
    width: 25%;
    font-size: 1.2em;

}

#resultText {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bolder;
    color: rgba(43, 43, 75, 0.61);
}